<main>
    <h1>My Products</h1>
    <p>List of all the products...</p>
    {{#if hasProducts}}
    {{#each prods}}
    <div>{{this.title}}</div>
    {{/each}}
    <div>111</div>
    {{ else }}
    <h1>No Products!</h1>
    {{/if}}
</main>